{% extends "base.html" %}
{% block title %}Team Members{% endblock %}
{% block content %}

<!DOCTYPE html>
<head>
    <div class="container-fluid">
        <title>Team Members</title>
        <div class="company-logo" align="middle">
            <img src="/static/images/group1img.jpg">
    </div>

</head>
<body>
    <h2>BDAT 1004 Data Programming Final Project</h2>
    <h5>Group 1 Members: Afolashade Olatunji-Alao, Aditya Dube, Alfreda Mbanefo, Jennifer Akwara</h5>
    <br>
    
    
<div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h3 style="font-family:Times New Roman,serif">Afolashade Olatunji-Alao</h3>
          <p class="title">200592570</p>
          <p>Georgian College</p>
          <p>afolashade.olatunji-alao@mygeorgian.ca</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h3 style="font-family:Times New Roman,serif">Aditya Dube</h3>
          <p class="title">200530940</p>
          <p>Georgian College</p>
          <p>aditya.dube@mygeorgian.ca</p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <div class="container">
          <h3 style="font-family:Times New Roman,serif">Alfreda Mbanefo</h3>
          <p class="title">200603190</p>
          <p>Georgian College</p>
          <p>alfreda.mbanefo@mygeorgian.ca</p>
        </div>
      </div>
    </div>
  
  
    <div class="column">
        <div class="card">
            <div class="container">
                <h3 style="font-family:Times New Roman,serif"> Jennifer Akwara</h3>
                <p class="title">200585100</p>
                <p>Georgian College</p>
                <p>jennifer.akwara@mygeorgian.ca</p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

{% endblock %}