{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<head>
    <div class="container-fluid">
        <h2>BDAT 1004 Group 1 Final Project</h2>
    </div>
</head>
<body>
    <br>
    <div class="background" align="middle">
        <img src="/static/images/homepage.jpg">
    </br>
    <br>
    <p>This Project demonstrates the aquisition of a Data source from a Remote source. Using Web scraping method, Data is continually extracted from the remote source to our database in Mongo DB Atlas.</p>
    <p>The following have been used in running this project successfully: Python, Flask, MongoDB Atlas, MongoDB Realm, Chart.js, Exhangerate API</p>
    </br>
    </div>

<center>© 2024 Copyright BDAT 1004 Group 1 Final Project</center>
</body>
</html>

{% endblock %}